/* Responsive Design */
@media (min-width: 376px){
  .appointment-button{
    gap: 20px;
    width: 220px;
  }
  .doctor-image{
    height: 280px;
    bottom: 0%;
  }
}

@media (min-width: 768px) {
  .book-appointment {
    display: flex;
    gap: 10px;
  }
  .booking-appointment{
    width: 100%;
    overflow: hidden;
  }
  .different-company-list {
    visibility: hidden;
  }
  .book-appointment-link {
    width: 45%;
    top: 32%;
    height: 120px;
  }
  .book-appointment-image{
    width: 67.15%;
    height: 400px;
  }
  .text-1 {
    margin-bottom: -0.5rem;
    font-size: 13px;
  }
  .text-2 {
    visibility: hidden;
  }
  .text-3 {
    margin-top: -1.5rem;
    font-size: 10px;
  }
  .appointment-button {
    width: 190px;
  }
  .doctor-image{
    height: 370px;
    right: 40%;
  }
  .container {
    width: 100%;
    display: flex;
    position: relative;
  }
  .dental-guidance-section {
    right: 0%;
    top: 0%;
    position: absolute;
    display: flex;
    border: 1px solid orange;
    justify-content: center;
    width: 32.85%;
    height: 400px;
    border-radius: 0px;
  }
  .dental-guidance-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: rgba(255, 249, 244, 1);
  }
  .dental-guidance-head {
    font-size: 15px;
  }
  .dental-guidance-description {
    font-size: 10px;
    text-align: left;
    padding: 0 10px 0 10px;
  }
  .get-expert {
    display: none;
  }
 

  /* Removing all carousel functionality */
  .implants-type{
    height: 360px;
    margin-top: 0px;
  }

  .carousel-container {
    width: 100%;
    justify-content: center;
    padding: 0;
    align-items: center;
    overflow: visible;
    scroll-snap-type: none;
    display: flex;
    height: 240px;
    flex-direction: row;
  }

  .carousel {
    display: flex;
    gap: 10px;
    width: 100%;
    height: 240px;
    justify-content: center;
    overflow-x: hidden !important;
    overflow-y: hidden !important;
    scroll-snap-type: none !important;
  }
  .implant-cards {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 417px;
  }
  .carousel-item {
    width: 350px;
    display: flex;
    height: 240px;
    flex-direction: row;
    scroll-snap-type: none !important;
    overflow-x: hidden;
  }
  .teeth1, .teeth2{
    width: 200px;
    height: 240px;
  }
  .treatment-card {
    flex-direction: row;
  }
  .card-content{
    width: 140px;
    height: 240px;
    gap: 8px;
    padding: 8px 10px 8px 10px;
  }
  .price-label{
    font-size: 8px;
  }
  .price{
    font-size: 10px;
    margin: 2px;
  }
  .cta-button{
    width: 120px;
    height: 20px;
    font-size: 8px;
  }
.card-1,
.card-2{
  width: 320px;
  height: 332px;
}
  .card-title {
    font-size: 10px;
    width: 120px;
    height: 12px;
  }
  .card-subtitle{
    font-size: 10px;
    width: 140px;
    line-height: 100%;
    height: 21px;
  }
  .card-list {
    font-size: 8px;
    width: 140px;
  }
  .card-section{
    width: 140px;
  }
  .rct {
    font-size: 12px;
    height: 10px;
  }
  .card-1{
    max-width: 45%;
  }
  .card-2 {
    max-width: 45%;
    max-height: 280px;
  }
  #toggle-icon{
    width: 16px;
    font-size: 16px;
    height: 16px;
  }
  .navbarss {
    display: flex;
    flex-direction: row-reverse;
    gap: 40px;
  }

  .btn-checkbox{
   display: flex;
   flex-direction: row;
   font-size: x-small;
   align-items: center;
   gap: 5px;
  }
  .checkbox-text{
    font-size: 10px;
    font-weight: 400;
  }
  .dropdown-header{
    gap: 10px;
  }
  .patients-say{
    height: 500px;
    margin-bottom: 0px;
  }
  .carousels-container {
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    font-family: "Figtree", sans-serif;
  }

  .carousels {
  display: flex;
  overflow-y: hidden;
  gap: 24px;
    width: 100%;
    scroll-snap-type: x mandatory;
    height: 400px;
     -webkit-overflow-scrolling: touch;
    overflow-x: auto;
  }
  carousels::-webkit-scrollbar {
    display: none;
  }

  .card {
    flex-shrink: 0;
    width: 224px; 
    height: 458px;
   scroll-snap-align: start;
    background-color: #fff;
    border-radius: 12px;
    overflow: hidden;
  }
    .card img {
    width: 224px;
    height: 350px;
    object-fit: cover;
  }
  .name-role {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
  }
  .name {
    font-weight: 400;
    font-size: 12px;
  }

  .treatment {
    color: rgba(245, 132, 32, 1);
    padding: 0;
    font-size: 14px;
    font-weight: 400;
  }
  .location {
    font-size: 10px;
  }
  .consultation-section {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .consultation-form {
    width: 95%;
    background-color: rgb(121, 56, 2);
    display: flex;
    font-size: x-small;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 20px;
  }
  .dental-guidance-form2{
    height: 34px;
    width: 98%;
    display: flex;
  }
  .name-input .mobile-input{
    width: 200px;
    font-size: 16px;
  }
  .dental-guidance-form2 input{
    height: 28px;
  }
  .checkbox2{
    display: flex;
    justify-content: flex-end;
  }
  .form2 {
    display: flex;
    flex-direction: column;
    min-width: 326px;
  }
  .input-box {
    padding: 1px 1px 1px 6px;
    max-width: 10rem;
    min-height: 1rem;
    max-height: 2rem;
    border-radius: 24px;
    border: 1px solid rgba(255, 224, 196, 1);
    font-weight: 400;
  }
  .input-boxes {
    display: flex;
    flex-direction: row;
    gap: 2px;
  }

  #captcha-input2 {
    padding: 1px 1px 1px 10px;
    border-radius: 24px 0 0 24px;
    border: 1px solid rgba(255, 224, 196, 1);
    font-weight: 400;
    min-width: 160px;
    min-height: 33px;
  }
  .captcha-container2 {
    display: flex;
  }
  #captcha-text2 {
    border-radius: 0 24px 24px 0;
    font-weight:500  ;
    border: 1px solid rgba(255, 224, 196, 1);
    font-weight: 200;
    margin-right: 10px;
  }
  .captcha-refresh2 {
    min-height: 40px;
    min-width: 25px;
    font-size:large;
    border-radius: 24px;
    background-color: white;
    border: 1px solid rgba(255, 224, 196, 1);
  }
  .checkbox-container {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  .appointment-clove-section{
    height: 300px;
  }
  #captcha2{
    width: 145px;
  }
  #book-free-consultation{
    width: 306px;
    height: 38px;
  }
.appointment-clove{
  height: 240px;
  flex-direction: column;
  align-items: center;
}
.clove-text{
  width: 542px;
  height: 31px;
  font-size: 24px;
  font-weight: 700;
  line-height: 130%;
}
.inputs{
  justify-content: center;
  width: 95.3%;
  gap: 24px;
  flex-direction: row;
  display: flex;
}
.other{
  display: flex;
  gap: 24px;
  flex-direction: row;
  width: 90%;
  height: 38px;
  align-items: end;
  justify-content: right;
}
.checkbox-text22{
  display: inline;
  text-align: end;
}
.checkboxDiv2{
  width: 564px;
  display: flex;
  justify-content: center;
  align-items:center;
  gap: 8px;
  font-size: 12px;
}

/*Footer section */
 .bigger-footer{
    width: 100%;
    background-color: #462512;
    height: 149px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 40px 60px;
  }
  .anchor-tags{
    display: flex;
    justify-content: flex-end;
    gap: 27px;
  }
  .anchor-tags a{
    text-decoration: none;
    color: white;
  }
  .bigger-left{
    display: flex;
    width: 63.4%;
    flex-direction: column;
    gap: 24px;
  }
  .bigger-copyright p{
    color: white ;
    font-size: 12px;
    text-align: right;
  }
  .smaller-footer{
    display: none;
  }
}



@media (min-width: 1024px){
  .book-appointment-link{
    top: 34%;
    padding: 24px 60px 24px 60px;
  }
  .appointment-button{
    margin-top: 10px;
    padding: 8px 12px 8px 12px;
    font-size: 14px;
  }
  .implants-heading{
    font-size: 28px;
  }
  .carousel{
    gap: 40px;
  }
  .implants-description{
    font-size: larger;
  }
  /*
   .carousel-item {
    width: 450px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
  }
   .carousel-container {
    min-width: fit-content;
    min-height: 250px;
  }
  .card-1 {
    max-width: 45%;
    max-height: 270px;
  }
  .card-2{
    min-height: 270px;
    min-width: 45%;
  }
  .card-title {
    font-size: 18px;
  }
  .card-subtitle {
    font-size: 13px;
  }
  .card-list {
    font-size: 10px;
  }
  .cta-button {
    width: 100%;
    font-size: x-small;
  }
  .rct {
    font-size: 12px;
  }
  .card-2 {
    max-width: 40%;
    max-height: 218px;
  }
  .navbarss{
    gap: 4rem;
  }*/

  .checkbox-text{
    font-size: 12px;
    text-align: center;
  }
  #captcha2{
    width: 208.65px;
  }
  .captcha-code{
    width: 75.04px;
  }
.checkbox-text22{
  width: 564px;
  font-family: figtree;
  font-size: 400;
  height: 19px;
}
.checkboxDiv{
  gap: 8px;
  display: flex;
  height: 19px;
}
.smaller-footer{
  display: none;
}
}

@media (min-width: 1440px){
  .book-appointment{
    width: 200px;
    font-size: 16px;
  }
  .book-appointment p{
    height: 11px;
    width: 138px;
    font-size: 16px;
  }
  .book-appointment .book-icon{
    width: 19px;
    height: 21px;
  }
  .booking-number{
    width: 154px;
    height: 38px;
  }
  .book-appointment-link{
    width: 644px;
    height: 153px;
    padding: 24px 60px 24px 60px;
    gap: 1px;
  }
  .doctor-image{
    width: 314px;
    height: 406px;
    left: 32.5%;
  }
  .booking-number p{
    width: 106px;
    height: 11px;
  }
  .right-header{
    padding-right: 40px;
  }
  .book-appointment-image{
    width: 67.15%;
    height: 450px;
  }
  .dental-guidance-section{
    width: 32.85%;
    height: 450px;
    border: 1px solid #FFE0C4;
    padding: 24px 40px 24px 40px;
  }
  .dental-guidance-head{
    width: 393px;
    height: 26px;
    font-size: 20px;
    font-weight: 700px;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: left;
    font-family: figtree;
    color: #474747;
  }
  .dental-guidance-description{
    text-align: left;
    padding: 0;
    width: 393px;
    height: 42px;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0%;
    font-weight: 400;
    font-family: figtree;
    color: #474747;
  }
  .dental-guidance-form{
    width: 393px;
  }
  .dental-guidance-form2{
    width: 393px;
    height: 256px;
    gap: 20px;
  }
  .checkboxDiv{
    height: 32px;
    width: 564px;
    align-items: end;
  }
  .book-consultation{
    padding: 14px 16px 14px 16px;
    border-radius: 24px;
    font-size: 14px;
    width: 393px;
    height: 38px;
    align-items: center;
  }
  .appointment-button{
    margin-top: 20px;
  }
  .book-appointment-link .text-1{
    width: 287px;
    height: 18px;
    font-weight: 800;
    font-size: 16px;
    color: #303030;
    line-height: 110%;
    letter-spacing: 0%;
    font-family: figtree;
  }
  .book-appointment-link .text-3{
    width: 426px;
    height: 21px;
    font-weight: 600;
    font-size: 16px;
    line-height: 130%;
    color: #4E4E4E;
  }
  .carousel-container{
    width: 100%;
    height: 332px;
    overflow: hidden;
  }
  .carousel{
    width: 1320px;
    height: 332px;
    gap: 40px;
  }
  .carousel-item{
    width: 640px;
    height: 332px;
  }
.carousel-item img{
  width: 320px;
  height: 332px;
}
.carousels{
  width: 91.66%;
}
.card{
  height: 398px;
}
.card-subtitle{
  margin: 0px;
}
.rct{
  margin: 0px
}
.price-label{
  margin: 0px;
  font-size: 14px;
  font-weight: 600;
}
.price{
  margin: 0px;
  font-size: 20px;
  font-weight: 700;
}
.card-content{
  box-sizing: border-box;
  width: 320px;
  height: 332px;
  padding: 16px 20px 16px 20px;
  gap: 16px;
}
.price-list{
  display: flex;
  gap: 4px;
  flex-direction: column;
}
.rct{
  width: 99px;
  height: 19px;
  font-weight: 700;
  font-size: 16px;
}
.card-list{
  width: 213px;
  height: 84px;
  font-weight: 400;
  font-size: 16px;
}
.cta-button{
  width: 181px;
  height: 38px;
  padding: 8px 20px 8px 20px;
  font-size: 14px;
  font-weight: 600;
}
.card-title{
  color: black  ;
  width: 235px;
  height: 24px;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
}
.card-section{
  gap: 8px;
  display: flex;
  flex-direction: column;
}
.card-subtitle1{
  color: #474747;
  width: 280px;
  height: 24px;
  font-weight: 400px;
  font-size: 16px;
  margin: 0px;
}
.card-subtitle{
  color: #474747;
  width: 280px;
  height: 30px;
  font-weight: 400px;
  font-size: 16px;
}
.card-section ul li{
  width: 289px;
}
.inputs{
  width: 1296px;
  gap: 24px;
  height: 44px;
}
#captcha2{
  width: 306px;
  border: 1px solid #FFE0C4;
  padding: 17px 16px 17px 16px;
  font-size: 14px;
  color: #777777;
  height: 38px;
  border-radius: 24px 0px 0px 24px;
}
.captcha-code{
  padding: 17px 16px 17px 16px;
  border-radius: 0px 24px 24px 0px;
  font-size: 14px;
  font-weight: 400;
  font-family: figtree;
  line-height: 100%;
  color: white;
  width: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38px;
  background-color: #462512;
}
.captcha-section{
  display: flex;
  width: 416px;
  height: 38px;
}
#captcha-input2{
  width: 306px;
}
.clove-input{
  width: 416px;
  height: 38px;
}
.implants-type{
  height: 417px;
  gap: 20px;
}
.implants-head{
  height: 65px;
}

  .implants-heading{
    width: 355px;
    height: 31px;
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    font-family: figtree;
    color: #1A1A1A;
  }
  .header{
    padding-left: 40px;
    height: 70px;
  }
  .why-clove-image{
    width: 461px;
    height: auto;
    object-fit: cover;
  }
  .why-description{
    font-size: 20px;
color: #474747;
  }
  .why-head{
    font-size: 24px;
    color: #303030;
  }
  .dropdown{
    width: 624px;
    height: 265px;
    gap: 40px;
  }
  .navbarss{
    width: 1181px;
    gap: 40px;
    height: 422px;
    justify-content: space-between;
  }
  .bigger-footer{
    width: 100%;
    background-color: #462512;
    height: 149px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 40px 60px;
  }
  .anchor-tags{
    display: flex;
    justify-content: flex-end;
    gap: 27px;
  }
  .anchor-tags a{
    text-decoration: none;
    color: white;
  }
  .bigger-left{
    display: flex;
    width: 63.4%;
    flex-direction: column;
    gap: 24px;
  }
  .bigger-copyright p{
    color: white ;
    font-size: 14px;
    text-align: right;
  }
  .smaller-footer{
    display: none;
  }
}