* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Figtree", sans-serif;
  overflow-x: hidden;
}

.header {
  background-color: #FFFAF5;
  padding: 10px;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
}

.logo-image {
  width: 101px;
  height: 41px;
}

.right-header {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
}

.book-appointment,
.booking-number {
  border-radius: 70px;
  padding: 8px 12px 8px 12px;
  height: 38px;
}

.booking-number p {
  font-weight: 600;
  font-size: 15px;
}

.book-appointment {
  background-color: rgba(248, 148, 63, 1);
  color: white;
  display: none;
}

.booking-number {
  border: 1px solid black;
  font-weight: 800;
  width: 154px;
  gap: 12px;
  height: 38px;
  padding: 8px 12px 8px 12px;
  background-color: white;
  display: flex;
}
.book-icon,
.phone-icon {
  max-height: 1.5rem;
}
.booking-appointment {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.book-appointment-image {
  height: 394px;
  width: 390px;
}
.different-company-list {
  border-radius: 5px;
  position: absolute;
  right: 0%;
}
.book-appointment-link {
  width: 100%;
  height: 205px;
  align-items: flex-start;
  top: 20%;
  backdrop-filter: blur(5px);
  background-color: #FFFFFF80;
  position: absolute;
  display: flex;
  flex-direction: column;
  padding-top: 12px;
  padding-left: 10px;
}
.doctor-image {
  position: absolute;
  z-index: 1;
  right: -5%;
  bottom: 0%;
  height: 280px;
}
.appointment-button {
  width: 205px;
  height: 38px;
  border-radius: 20px;
  display: flex;
  gap: 10px;
  margin-top: 20px;
  border: none;
  z-index: 20;
  color: white;
  font-family: figtree;
  font-weight: 600;
  align-items: center;
  background-color: rgba(248, 148, 63, 1);
  justify-content: center;
}
.text-1 {
  font-size: 16px;
  font-weight: 800;
}
.text-2 {
  color: rgba(248, 148, 63, 1);
  font-weight: 800;
}
.text-3 {
  color: rgba(82, 82, 82, 1);
  font-weight: 600;
}
.container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.outer-box{
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dental-guidance-section {
  background-color:#FFF9F4;
  border-radius: 20px; 
  padding-top: 20px;
  width: 91.8%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
}
.dental-guidance-head {
  font-weight: 700;
  text-align: center;
  font-size: 20px;
  color: rgba(48, 48, 48, 1);
}
.dental-guidance-description {
  font-weight: 400;
  margin-top: 5px;
  font-size: 13px;
  line-height: 130%;
  letter-spacing: 0%;
  
  text-align: center;
  color: rgba(71, 71, 71, 1);
}
.dental-guidance-form {
  background-color:#FFF9F4;
  width: 91%;
  gap: 24px;
  margin-bottom: 20px;
  display: flex;
  margin-top: 10px;
  flex-direction: column;
  align-items: center;
}
.dental-guidance-form2{
  background-color:#FFF9F4;
  width: 90%;
  gap: 16px;
  margin-bottom: 20px;
  display: flex;
  margin-top: 10px;
  flex-direction: column;
  align-items: center;
}

.checkbox2{
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.name-input,
.mobile-input {
  width: 100%;
  height: 38px;
  gap: 10px;
  padding: 17px 16px 17px 16px;
  border-radius: 24px;
  border-width: 1px;
  font-weight: 400;
  font-size: 14px;
  border: 1px solid rgba(255, 224, 196, 1);
}
.captcha-container {
  display: flex;
  width: 100%;
  justify-content: center;
}
#captcha-input {
  padding: 6px 6px 6px 12px ;
  width:  70%;
  height: 38px;
  border-radius: 24px 0 0px 24px;
  border-width: 1px;
  font-weight: 400;
  font-size: 14px;
  border: 1px solid rgba(255, 224, 196, 1);
}

#captcha-text {
  width: 30%;
  text-align: center;
  display: flex;
  font-size: 14px;
  color: white;
  justify-content: center;
  align-items: center;
  background-color: #462512;
  border-radius: 0px 24px 24px 0px;
  border: 1px solid rgba(255, 224, 196, 1);
}

/*  .captcha-refresh {
  border-radius: 100%;
  min-width: 30px;
  padding: 5px;
  font-weight: 600;
  font-size: medium;
  border: 1px solid rgba(255, 224, 196, 1);
  background-color: white;
}  */
.checkboxDiv{
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 8px;
  font-size: 12px;
  justify-content: center;
}
.checkbox-container input[type="checkbox"] {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}
.custom-checkbox{
  height: 18px;
  width: 18px;
   border: 1px solid #FFE0C4;
  border-radius: 4px;
  display: inline-block;
  position: relative;
}
.checkbox-text{
  text-align: center;
  width: 366px;
  height: 19px;
  font-size: 12px;
}

.book-consultation {
  width:100%;
  height: 38px;
  background-color: rgba(245, 132, 32, 1);
  padding: 8px 24px 8px 24px;
  border-radius: 24px;
  height: 38px;
  font-family: "Figtree", sans-serif;
  color: white;
  font-weight: 600;
  font-size: 14px;
  border: 1px solid #DE6F0D;
  display: flex;
  justify-content: center;
}
.implants-type {
  margin-top: 60px;
  display: flex;
  height: 703px;
  flex-direction: column; 
  gap: 20px;
  width: 100%;
  text-align: center;
}
.implants-head{
  height: 95px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.implants-heading {
  font-family: "figree", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: rgba(48, 48, 48, 1);
}
.implants-description {
  font-family: "figree", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #474747;
}
.implants-head {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  padding: 10px ;
  justify-content: center;
  align-items: center;
}
.carousel-container {
  padding-left: 10px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  display: flex;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  height: 100%;
}
.carousel-item {
  width: 285px; 
  height: 588px;
  scroll-snap-align: center;
  border-radius: 20px;
  border: 1px solid #FFE0C4;
  flex-shrink: 0;
  overflow: hidden;
}

.treatment-card {
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-family: "Segoe UI", sans-serif;
  background-color: rgb(122, 31, 31);
  display: flex;
  flex-direction: column;
}

.card-image {
  width: 100%;
  height: 180px;
  object-fit: cover;
  background-color: #f9f9f9;
}

.card-content {
  padding: 16px 20px 16px 20px;
  text-align: left;
  height: 303px;
  display: flex;
  flex-direction: column;
}

.card-title {
  font-size: 16px;
  width: 194px;
  height: 19px;
  font-weight: 700;
  color: black;
  font-family: Raleway;
}

.card-subtitle1{
    font-size: 14px;
  color: #474747;
  margin: 10px 0 10px 0 ;
}
.card-subtitle {
  font-size: 14px;
  color: #474747;
  margin: 10px 0 10px 0 ;
}
.rct{
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
}
.card-section strong {
  font-size: 0.95rem;
  color: #303030;
}

.card-list {
  padding-left: 20px;
  font-size: 14px;
  color: #444;
}

.price-label {
  font-size: 0.85rem;
  margin-top: 0.8rem;
  color: #666;
  font-family: "Figtree", sans-serif;
  font-weight: 600;
  color: rgba(245, 132, 32, 1);
}

.price {
  font-size: 1rem;
  font-weight: bold;
  font-family: "Figtree", sans-serif;
  color: #000;
  margin: 0.2rem 0 1rem;
}

.cta-button {
  width: 245px;
  height: 38px;
  background-color: #f58420;
  color: white;
  font-weight: 600;
  font-size: 14px;
  font-family: "Figtree", sans-serif;
  border: none;
  border-radius: 24px;
  cursor: pointer;
  transition: 0.3s ease;
}

.cta-button:hover {
  background-color: #e07114;
}
.teeth1 , .teeth2{
  width: 285px;
  height: 285px;
}

/* Why Clove Section */
.why-clove-div{
  margin-top: 60px;
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  gap: 20px;
}

.why-clove-section {
  display: flex;
  flex-direction: column;
  font-family: "figtree", sans-serif;
  align-items: center;
  width: 91.8%;
  gap: 20px;
  margin-bottom: 60px;
}
.why-clove-image{
  height: 250px;
  width: 100%;  
   border-radius: 20px; 
   object-fit: fill;
}
.navbarss{
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}
.why-clove {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  text-align: center;
  gap: 8px;
  height: 76px;
}
.why-head {
  font-family: "figtree", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: rgba(48, 48, 48, 1);
}
.why-description {
  font-family: "figtree", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #474747;
}

/* Dropdowns */
.dropdown {
  width: 100%;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.dropdown-header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
  width: 100%;
  gap: 24px;
}

.dropdown-content {
  list-style: disc outside;
  margin: 0;
  display: none;
  padding-left: 2rem;
  text-align: left;
}

.dropdown-content li {
  margin-bottom: 0.5rem;
  text-align: left;
}
.dropdown-title {
  font-family: "figtree", sans-serif;
  font-weight: 600;
  font-size: 16px;
}
.dropdowns {
  font-family: "figtree", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: rgba(71, 71, 71, 1);
}
#toggle-icon {
  color: rgba(234, 125, 40, 1);
  height: 12px;
  width: 12px;
}

/*-- Patients experience section */

.patients-say {
  display: flex;
  flex-direction: column;
  height: 520px;
}
.patients-say-head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Figtree", sans-serif;
}
.patients-head {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 20px;
  color: rgba(48, 48, 48, 1);
}
.patients-description {
  font-weight: 400;
  font-size: 16px;
  color: rgba(71, 71, 71, 1);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-bottom: 1rem;
}

/* Patients Corousels */

.carousel {
  display: flex;
  gap: 16px;
  align-items: center;
   overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.carousels-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: "Figtree", sans-serif;
}
.carousels {
  display: flex;
  width: 100%;
  height: 420px;
  gap: 16px;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.card {
  flex-shrink: 0;
  width: 200px;
  height: 423px;
  padding: 0px 0px 0px 10px;
  scroll-snap-align: start;
  position: relative;
  overflow: hidden;
}

.card img {
  border-radius: 12px 12px 12px 12px;
  height: 360px;
  width: 200px;
}

.info {
  background-color: white;
}
.location{
  color: #777777;
  font-size: 12px;
}

.name-role {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}
.name {
  font-weight: 600;
  font-size: 16px;
}

.treatment {
  color: rgba(245, 132, 32, 1);
  padding: 4px 8px;
  font-size: 16px;
  font-weight: 600;
}

/* consultation section */
.consultation-section {
  width: 100%;
  min-height: 22rem;
  max-height: 24rem;
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-bottom: 40px;
}
.consultation-form {
  width: 90%;
  height: 378px;
  background-color: rgba(255, 249, 244, 1);
  display: flex;
  gap: 24px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  padding: 16px;
}
.consultation-head {
  font-family: "Figree", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: rgba(48, 48, 48, 1);
}
.btn-checkbox{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form2 {
  display: flex;
  flex-direction: column;
  min-width: 326px;
  gap: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.input-box {
  padding: 6px 6px 6px 16px;
  min-height: 3rem;
  border-radius: 24px;
  border: 1px solid rgba(255, 224, 196, 1);
  font-weight: 400;
  width: 330px;
}
#captcha-input2 {
  padding: 6px 6px 6px 16px;
  border-radius: 24px 0 0 24px;
  border: 1px solid rgba(255, 224, 196, 1);
  font-weight: 400;
  min-width: 230px;
  min-height: 3rem;
}
.captcha-container2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
#captcha-text2 {
  padding: 13px;
  border-radius: 0 24px 24px 0;
  border: 1px solid rgba(255, 224, 196, 1);
  font-weight: 400;
  min-height: 30px;
  margin-right: 10px;
}
.captcha-refresh2 {
  max-height: 20px;
  min-width: 20px;
  font-size: medium;
  border-radius: 24px;
  background-color: white;
  border: 1px solid rgba(255, 224, 196, 1);
}
.bigger-footer{
  display: none;
}

/* Footer Section */
.smaller-footer{
  display: flex;
  justify-content: center;
  gap: 24px;
  width: 100%;
  padding: 32px 16px;
  background-color: #462512;
  height: 193px;
  flex-direction: column;
  font-family: figtree;
}
.smaller-upper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.smaller-upper img{
    width: 110px;
    height: 44px;
}
.small-anchor{
  display: flex;
  gap: 24px;
  flex-direction: column;
}
.smaller-lower{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.small-anchor a{
  text-decoration: none;
  color: white;
  font-size: 16px;
}
.smaller-lower p {
  font-size: 15px;
  display: flex;
  justify-content: center;
  color: white;
}


.appointment-clove-section{
  width: 100%;
  height: 378px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
}
.appointment-clove{
  border-radius: 20px;
  gap: 24px;
  text-align: center;
  width: 91.6%;
  height: 100%;
  padding: 16px;
  background-color: #FFF9F4;
  display: flex;
  flex-direction: column;
}
.clove-text{
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  color: #303030;
}
.inputs{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.clove-input{
  height: 38px;
  font-size: 14px;
  color: #777777;
  border-radius: 24px;
  border: 1px solid #FFE0C4;
  padding: 17px 16px 17px 16px;
  width: 100%;
}
.checkbox-text22{
  font-size: 12px;
}
.checkboxDiv2{
  display: flex;
  gap: 8px;
}
#captcha2{
  border-radius: 24px 0 0 24px;
  border: 1px solid #FFE0C4;
  padding: 17px 16px;
  width: 223px;
  height: 38px;
}
.captcha-section{
  display: flex;
}
.captcha-code{
width: 103px;
height: 38px;
background-color: #462512;
padding: 17px 16px 17px 16px;
display: flex;
justify-content: center;
align-items: center;
border-radius: 0 24px 24px 0;
font-size: 14px;
font-weight: 400;
font: figtree;
color: white;
}
.other{
  gap: 24px;
  display: flex;
  flex-direction: column;
}
#book-free-consultation{
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F58420;
  border-radius: 24px;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  color: white;
  border: none;
  padding: 16px;
}
.btn-text{
  width: 180px;
  height: 10px;
}
